<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>
      <h5>Subject:-</h5>
      <%= @email_notification.subject %>
    </div>
    <div>
      <%= @email_notification.description %>
    </div>
  </body>
</html>