<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>
 
<p>
  <strong>Established from:</strong>
  <%= @department.established_from %>
</p>
 
 
<%= link_to 'Edit', edit_admin_department_path(@department), class: "btn btn-warning" %> |
<%= link_to 'Back', admin_departments_path, class: "btn btn-info" %>
