<div class="col-12 col-md-3">
  <div class="card mt-4">
    <div class="card-body">
      <div class="text-center">
        <h5 class="font-weight-bold mt-3"><%= educational_credential.course %></h5>
        <h6 class="font-weight-bold"> <%= educational_credential.board_or_university %></h6>
        <h5 class="text-dark"><%= educational_credential.city %></h5> 
        <h5 class="text-dark"><%= educational_credential.marks %></h5>
      </div>
    </div>
  </div>      
</div>
