<div class="col-12 col-md-3">
  <div class="card mt-4">
    <div class="card-body">
      <div class="text-center">
        <h5 class="font-weight-bold mt-3"><%= employee_relative.name %></h5>
        <h6 class="font-weight-bold"> <%= employee_relative.contact %></h6>
        <h5 class="text-dark"><%= employee_relative.address %></h5> 
        <h5 class="text-dark"><%= employee_relative.relation %></h5>
      </div>
    </div>
  </div>      
</div>
