<div class="row">
  <div class="col-12">
    <%= render 'partials/flash' %>
    <div class="card rounded-0">
      <div class="card-body">        
        <p>
          <strong>Total Assigned Leaves:</strong>
          <%= @leave.total_assigned_leaves %>
        </p>
        <%= link_to 'Edit', edit_admin_leafe_path(@leave), class: "btn btn-warning btn-sm" %>  
        <%= link_to 'Back', admin_leaves_path, class: "btn btn-info btn-sm" %>
      </div>
    </div>
  </div>
</div>

