<div class="col-12 col-md-3">
  <div class="card mt-4">
    <div class="card-body">
      <div class="text-center">
        <h5 class="font-weight-bold mt-3"><%= bank_detail.bank_name %></h5>
        <h6 class="font-weight-bold"> <%= bank_detail.account_number %></h6>
        <h5 class="text-dark"><%= bank_detail.branch %></h5> 
        <h5 class="text-dark"><%= bank_detail.ifsc_code %></h5>
      </div>
    </div>
  </div>      
</div>
